version: '3.8'
services:
  prometheus:
    image: prom/prometheus:latest     # to the best practice to install latest search for a version you want to use online 
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - 9090:9090
    restart: unless-stopped
    volumes:
      - ./prometheus:/etc/prometheus
      - prom_data:/prometheus
volumes:
  prom_data: